@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2? family= Commissioner & family= Montserrat & family= Roboto & display=swap');

.scrollbar {
  width: 1840px;
height: 590px;

   
  }
  .scrollbar .swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
   
    position: static; 
    height: 560px;
    background: #FFFFFF;
    border: 1px solid #F1F1F1;
    box-sizing: border-box;
    border-radius: 3px;

  }


   .feed img {
      display: static;
      border-radius: 200px;
      width: 340px;
      height: 394px;
 }
    .down{
      margin-top: 20px;
    }
    .swiper-slide_text{
      position:relative;
      font-weight: bold;
  font-size: 30px;
  line-height: 40px;
  margin-top: 20px;
  color: #FFFFFF;
    }

    .swiper-scrollbar-drag{
      width: 245px !important;
    }
          
.content {
  display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.scrollbar .swiper-slide:hover{
  background: #FFFFFF;
  /* base/gray 1 */
  
  border: 1px solid #F1F1F1;
  box-sizing: border-box;
  box-shadow: 0px 20px 80px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}
.content a{
  font-family: 'Montserrat', sans-serif;
  display: block;
  padding-left: auto;
padding-top: 7px;
font-style: normal;
font-weight: bold;
font-size: 13px;
line-height: 16px;

text-align: center;
text-transform: uppercase;
z-index: 0;
color: #FFFFFF;
}
.squear{
  width: 394px;
height: 394px;
}

.label1{
  background: #219653;
  border-radius: 30px;
  width: 99px;
  height: 29px;
   
}
.label2{
  width: 77px;
height: 29.39px;
  background: #2F80ED;
  border-radius: 30px;
   
}
.label3{
  width: 59px;
height: 29.39px;
  background: #E02020;
  border-radius: 30px;
}
.label4{
  width: 125px;
height: 29.39px;
	background: #FF8A00;
border-radius: 30px;
}
.gift_box img{
  width: 20px;
  height: 20px;
}

.price_top{
  display: flex;
  font-family: 'Commissioner', sans-serif;
font-style: normal;
font-weight: normal;
justify-content:space-between;
margin-bottom: 9px;

}
.price_item{
  width: 165.53px;
height: 24px;
  font-size: 16px;
  line-height: 20px;
  color: #A7B0B5;
  
  text-decoration: 3px line-through;
  text-decoration-color: red;
}


.price_item2{
  
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #E02020;
  
}
.black{
  margin-top: 29px;
  color: #000;
}
.price_top img {

  width: 19.88px;
height: 20px;

}

.text{
  font-family: 'Montserrat';
font-style: normal;
font-weight: normal;
margin-top: 15px;
font-size: 16px;
line-height: 20px;
}
.stars{
  display: flex;
  flex-direction: row;
  align-items: center;

  margin-top: 11px;
}
.stars img{

width: 12px;
height: 12px;
}
.stars p{
  font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 16px;
margin: 0px 10px;
text-align: center;
  color: #A7B0B5;
}
.icon{
  display: flex;
  flex-direction: column;
  margin-left: 20%;
  position: absolute;
  width: 20px;
  height: 100px;

}

.icon img{
  width: 20px;
  height: 18px;
  margin-top:20px;
  border-radius:0;
}

.icon__play {
  width: 20px;
  height: 20px;
}
.price_top_busket{
  display: flex;
flex-direction: row-reverse;
align-items: flex-end;

background: #FFFFFF;
position: static;

}
.price_top_busket:hover{
  display: flex;
  justify-content: space-evenly;
  bottom: -12.32vw;
 align-items: center;
  flex-direction: row;
  width: 119px;
  background: #219653;
  height: 40px;
}
.price_top_busket:hover svg{
  fill: #FFFFFF;
}
.price_top_busket-text{
  
  font-family: 'Commissioner',sans-serif;
font-weight: normal;
font-size: 14px;
line-height: 17px;
text-transform: uppercase;
color: #FFFFFF;

}