@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');
* {
	padding: 0;
	margin: 0;
	border: 0;
}

:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}
nav,
footer,
header,
aside {
	display: block;
}

html {
	min-width: 800px;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	
}
input,
button,
textarea {
	font-family: inherit;
}
input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	color: inherit;
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul,
li {
	list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}



html {
	min-width: 800px;
}

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
font-family: 'Roboto', sans-serif;
	background-color: #fff;
}
.content-wrapper {
	margin: 0 auto;
	flex-direction: column;
	max-height: 100%;
	min-width: 1024px;
	max-width: 1920px;
    
}

.header {
	-webkit-box-flex: 0;
	-webkit-flex: none;
	-ms-flex: none;
	flex: none;
display: flex;
justify-content: center;
margin-top: 32px;
}
.container {
	display: flex;

}
.logo{
    position: relative;
width: 371px;
height: 128px;

}


.catalog{
    display:flex;
    justify-content:space-between;
    background: #FFBE48;
height: 60px;
position: relative;
font-size: 24px;
align-items: center;
letter-spacing: 1px;
color: #FFFFFF;
border-radius: 10px 0 0 0;
margin-top: 20px;

}


.catalog_text2{
    margin-top:inherit;
    font-size: 14px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5); 
	padding-bottom: 4px;
	margin-right: 25px;
	margin-bottom: 5px;
}
.dropbtn {
	background: #FFBE48;
  color: white;
  
  font-size: 16px;
  border: none;
  cursor: pointer;
  font-weight: bold;
   margin-left: 20px;
   letter-spacing: 1px;
   font-size: 24px;  
}
.dropbtn a :hover {
	background: #DDE8F0;
}

.dropdown {
  position: relative;
  display: inline-block;
 
}
.drop_icon{
	margin-left: 20px;
}
.dropdown-content {
  display:none;

  position: absolute;
  background: #FFFFFF;
  min-width: 160px;
  width: 371px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 2;
  margin-top: 1vw;
  border-radius: 0 0 20px 20px;
}

.dropdown_item  {
	color: #5C6D7D;
	display: flex;
	align-items: center;
	justify-content: space-around;
  text-decoration: none;
 margin-bottom: 6px;

height: 50px;
  font-size: 18px;
 
}

.dropdown_item:hover {
	color: #33485D;
	font-size: 18px;
	
	background: #DDE8F0;
	border-radius: 15px;}

.show {display: block;}



.basketbtn{
	background: #FFFFFF;
  
  font-size: 16px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  
   letter-spacing: 1px;
   font-size: 24px;  
}

.basketbtn :hover {
	background: #47B39C;
	border: 2px solid #47b39c;
	
} 

/* Элемент меняет цвет во время нажатия на доли секунд.  */











.basket_user_link img{
	display: block;
    margin-left: auto;
    margin-right: auto;
	margin-top: 15px;
	width: 30px;
	height: 30px;
}


.basket_user_link:last-child{
	border-top-right-radius: 18px;

	
}

.basket_dropdown {
  position: relative;
  display: inline-block;
 
}



	.basket-content{
		position: absolute;
		display:none;

	background: #FFFFFF;
	box-shadow: 0px 10px 80px rgba(0, 52, 41, 0.3);
	border-radius: 20px;
right: 0;
	z-index: 2;
	overflow: auto;
	margin-top: 1vw;
	width: 358px;
	height: 280px;

	}


.basket_item  {
	color: #5C6D7D;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	
  text-decoration: none;
 margin-bottom: 6px;
height: 215px;
margin-left: 35px;
font-size: 18px;
line-height: 21px;
  
}
.basket_item p{
	color: #33485D;
	font-weight: bold;
	margin-left: 5px;

}
.basket_edit{
	width: 181.97px;
	padding-bottom: 3px;
	border-bottom: 1px solid rgb(92, 109, 125 ,0.5); 
}

.basket_product{
	display: flex;
	flex-direction: row;
}
.busket_product_btn{
	display: flex;
	justify-content: center;
	width: 277px;
height: 60px;
font-size: 24px;
line-height: 120%;
color:#ffffff;
background: #47B39C;
border-radius: 20px 0  20px 0; 
padding-top: 15px;
}
.basket_item img{

	width: 30px;
height: 30px;
margin-left: 15px;
}
.show2 {display: block;}















.menu{
	
margin-left: 50px;

}

.bottom_menu li {
	display: inline;
    color: rgba(51, 72, 93, 0.664);
	font-size: 14px;
	font-weight: bold;
	line-height: 24px;
	margin-right: 10px;
	margin-left: 10px;
}

.bottom_menu img{
width: 9.05px;
  height: 5.09px;
  margin-left: 14.22px;
  vertical-align: middle;
}
  
.bottom_menu li a:hover {
	border-bottom: 2px solid#33485D;
	padding-bottom: 3px;
	color: #33485D;
}
.number{

	font-weight: bold;
    font-size: 14px;
   color: #33485D;
   margin-left: 106px;
   line-height: 17px;
   text-transform: uppercase;
  }
.circle {
	display:inline-flex;
	background: #DDE8F0;
	border-radius: 5px;
	height: 6px;
	width: 6px;
	
  }

  .search {

	position: relative;
	display: flex;
  }
  
  .searchTerm {
	width: 784px;
	background: #DDE8F0;
	margin-left:10px ;
	height: 50px;
	border-radius: 5px 0 0 5px;
	outline: none;
	color: #9DBFAF;
	padding-left: 19px;
  }
  
  .searchTerm:focus{
	color: #1b595e;
  }
  
  .searchButton {
	width: 40px;
	height: 50px;
	background: #DDE8F0;
	text-align: center;
	color: rgb(22, 32, 90);
	border-radius: 0 5px 5px 0;
	cursor: pointer;
	font-size: 18px;
	font-weight:15px;
	background-image: url("../img/seach.svg");
	background-repeat: no-repeat;
	background-position:  bottom 50% right 12.19px;
  }
  
 .wrap{
	margin-top: 45px;
  }
 

 .basket_user_container{ 
	display: flex;  
	flex-direction:column;
	justify-content:space-between;
	margin-left: 45px;
}
.basket_user{
	display:flex;
    justify-content:space-around;
	

}

.lang_option {
	display: inline;
	font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 17px;
width: 18px;

height: 17px;
letter-spacing: 1px;
color: #33485D;
}

  .basket_user img{
	  width: 20px;
	  height: 20px;
	  position: static;
  }
.basket_user_product{
	display:flex;
    justify-content:space-between;
	width: 266px;
	height: 60px;
}
.basket_user_link{
	
	width: 90px;
	height: 60px;
	border: 2px solid #FFCB6D;
	box-sizing: border-box;
	
}
.basket_user_link a{
	position: absolute;
	font-weight: bold;
font-size: 14px;
	margin-left:50px ;
	margin-top: 3px;
	width: 28px;
	height: 20px;
	background: #FFBE48;

border-radius: 18px;
display: flex;
justify-content: center;
align-items: center;
}
.basket_user_link a:hover {
	background: #FFFFFF;
}







.top_content_one{
	display: flex;
	flex-direction: column;
	width: 1840px;
height: 889px;
margin-left: auto;
margin-right: auto;
margin-top: 24px;
background: linear-gradient(99.18deg, #FF7800 3.07%, #FE374A 100.56%);
border-radius: 22px;
overflow: hidden;
z-index: 2;
position: relative;
}
.fuck_circle{

	z-index: -1;
	margin-top: -80px;
	
background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.042) 0%, rgba(216, 248, 255, 0.2) 100%);
backdrop-filter: blur(120px);
}


.top_content_categories{
	display: flex;
	justify-content: space-between;
	
	
margin:82px 100px 0 125px  ;
}
.top_content_categories_one{
	position: relative;
	white-space: nowrap;
width: 684px;
height: 72px;
font-weight: 300;
font-size: 64px;
color: #FFFFFF;
}
.top_content_categories_two
{
position: relative;
font-size: 15px;
line-height: 18px;
text-transform: uppercase;
color: #FFFFFF;
padding: 20px 0 0 35px;
margin-top: 8px;
}
.box{
	width: 188px;
height: 60px;
	border: 3px solid #FFFFFF;
box-sizing: border-box;
border-radius: 70px;
}
.box:hover {
	box-shadow: 0 0 10px 0 #ffe600 inset, 0 0 10px 4px #ffe815;
  }
 .pop_product{
	 display: flex;
	 position: relative;
	 justify-content: center;
	 align-items: center;
	width :841px;
	height :446px;
	margin-left: auto;
	margin-right: auto;


 }
.fluid-linear{
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	margin-top: -33em;
	z-index: 1;
	margin-right: 12vw;
}
.pop_product_feedback{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 383px;
height: 193.46px;
position: relative;
	z-index: 2;
	margin-bottom: 3vw;
}
.pop_product_btn{
	display: flex;
align-items: center;
justify-content: center;
	width: 360px;
height: 60px;
	background: linear-gradient(0deg, #FF485A, #FF485A);
border-radius: 70px;
font-size: 15px;
line-height: 18px;
color: #FFFFFF;

text-transform: uppercase;
}
.down-arrow{
	margin-left:24px ;
}
.pop_product_min-circle{

	position: absolute;
width: 120px;
height: 115.46px;
margin-left: 14vw;
}
.many_linear{

	position: relative;
	width: 302px;
	height: 48px;
	white-space: nowrap;
	font-size: 16px;
line-height: 24px;

text-align: center;

color: #6A677B;

}

.cards_container{
	display: grid;

	grid-template-columns: 435px 445px 435px 435px;
	grid-auto-rows: minmax(350px,auto);
	justify-content: center;
	grid-gap: 36px;
	margin: 20px auto 0px 21px;
  }
  
  .inside_container{
	display: grid;
	grid-template-columns: 435px 435px;
	grid-auto-rows: minmax(350px,auto);
	grid-column-gap: 20px;
	grid-row-gap: 36px;
  }
  
  .card1, .card2, .card5, .card6{
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
  }
  
  .card3, .card4{
	display: flex;
	justify-content: center;
	align-items: center;
  
	font-family: "Montserrat",sans-serif;
	font-size: 16px;
  }
  
  .card a{
	padding: 14px 30px;
	border: 2px solid white;
	background-color: #00000000;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	border-radius: 3px;
	transition: all .5s ease;
  }
  
  .card a:hover{
	padding: 10px 26px;
	border-radius: 5px;
	font-size: 14px;
	text-shadow: 1px 1px 25px #00000090;
  }
  
  
  .card1{
  
	background-image: url("../img/scale_1200.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
  }
  
  
  
  .card2{
	background-image: url("../img/Rectangle\ 125.svg ");
	grid-column-start: 2;
	grid-row-start: 1;
	grid-row-end: 3;
  }
  
  .card3{
	background-image: url("../img/Rectangle\ 126.svg");
  }
  
  .card4{
	background-image: url("../img/Rectangle\ 127.svg ");
  }
  
  .card5{
	background-image: url("../img/Rectangle\ 124.svg ");
	grid-column-start: 1;
	grid-row-start: 2;
  }
  
  .card6{
	background-image: url("../img/Rectangle\ 128.svg ");
	grid-column-start: 3;
	grid-column-end: 5;
	width: 890px;
  }
 
  
 .footer {
	display: flex;
	display: block;
	margin-left:auto ;
	margin-right: auto;
	font-family: 'Roboto', sans-serif;
	font-style: normal;
  width: 1899px;;
height: 386px;
background: #34495E;
  color: #fff;
 margin-top: 114px;

}
.footer__container{
	
	display: flex;
	width: 100%;
	max-height: 65%;
}

.footer__row li:hover {
  border-radius: 4px;
  background-color: rgba(27, 113, 124, 0.5);
}

  .footer__logo{
	 display: flex;
	 flex-direction: column; 
  }
  .logo2 {
	width: 114px;
	height: 41px;
	
  }

  .footer_logo_social{
	  display: flex;
	  flex-direction: row;
	  margin-top: 44px;
  }
  .footer_logo_social img{
height: 20px;
width: 20px;
margin-right: 27px;
  }
  .footer_logo_credit{
	  display: flex;
	  align-items: center;
	  margin-right: 210px;
  }
  .footer_logo_credit img{

	opacity: 0.6;
	margin-top: 42px;
  }
 .footer_logo_credit_posta{
	width: 83.72px ; 
	height: 30px;
	 margin-right: 57px;
 }
 
 .credit_card{
	width: 53px;
	height: 31px;
	margin-right: 6px;
 }
 .credit_card_paypal{
	 height: 45px;
 }
  .footer__row {
	display: flex;
	flex-direction: column;
	
	align-items: center;
	width: 100%;
  }
  
  .footer__columns {
	width: 80%;
	
  }
  
  .columns__row {
	display: flex;
	justify-content: space-between;
	margin-top: 56px;
	margin-left:77px;
  }
  
  .column__title {
	font-weight: 500;
font-size: 18px;
line-height: 21px;
color: #FFFFFF;
	margin-bottom: 18px;
  }
  .column__body {
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	width: 246px;
	height: 197px;
	font-size: 14px;
line-height: 10px;

color: #FFFFFF;

opacity: 0.5;
  }
  
  .column__body li {
	margin-bottom: 12px;
	
  }
  .hot_number{
	font-size: 18px;
	line-height: 21px;
	color: #FFFFFF;
	opacity: 0.7;
  }
  .main_number{
	font-size: 24px;
	line-height: 28px;
  }
  .footer__up__btn {
	display: flex;
	justify-content: center;
	margin-left: 58px;
	align-self: baseline;
	flex-direction: column;
  }
  .up__btn__text {
	
	color: #DDE8F0;
  }
  .up__btn {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background:#DDE8F0 url('../img/UP.svg') 50% no-repeat;
  }
  .btn{
	  margin-left: 100px;
  }
  .footer_notification{
	width: 1526px;
	height: 92px;
	background: #74C3B4;
	border-radius: 10px 10px 0  0;
	
	display: flex;
	align-items: center;
	
	font-size: 14px;
line-height: 16px;

justify-content:space-around;
  }
.notification_btn{
	width: 147px;
height: 40px;
color: #FFFFFF;
font-size: 14px;
background: #74C3B4;
	border: 1px solid #FFBE48;
box-sizing: border-box;
border-radius: 20px 0  20px 0;
}